body {
  font-family: "Montserrat", sans-serif; }
  body section {
    padding: 50px 0; }
  body .container-fluid {
    max-width: 1170px; }
    body .container-fluid .bg-indigo {
      background-color: #2b10bf !important;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15); }
  body .container-nav .row .col-sm-12 nav .container a.navbar-brand {
    font-family: "GFS Didot", serif;
    color: #2b10bf;
    font-size: 40px;
    letter-spacing: -1px; }
  body .container-nav .row .col-sm-12 nav .container ul.nav li.nav-item:last-child a {
    padding-right: 0; }
  body .container-nav .row .col-sm-12 nav .container ul.nav li.nav-item a {
    color: #474646;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px; }
  body section#header .container-fluid .row .col-sm-12 .box,
  body section#header-about .container-fluid .row .col-sm-12 .box {
    position: absolute;
    height: 655px;
    width: 80%;
    right: 45px;
    border: 4px solid #2b10bf;
    z-index: -1; }
  body section#header .container-fluid .row .col-sm-12 .div-col,
  body section#header-about .container-fluid .row .col-sm-12 .div-col {
    display: flex;
    align-items: center;
    height: 655px; }
    body section#header .container-fluid .row .col-sm-12 .div-col .div-left,
    body section#header-about .container-fluid .row .col-sm-12 .div-col .div-left {
      width: 50%;
      background-color: #ffffff;
      z-index: 1;
      padding: 20px 0; }
      body section#header .container-fluid .row .col-sm-12 .div-col .div-left .name h1,
      body section#header-about .container-fluid .row .col-sm-12 .div-col .div-left .name h1 {
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 1.75px;
        color: #2b10bf;
        font-weight: 700;
        margin-bottom: 0; }
      body section#header .container-fluid .row .col-sm-12 .div-col .div-left .title,
      body section#header-about .container-fluid .row .col-sm-12 .div-col .div-left .title {
        margin-top: 25px; }
        body section#header .container-fluid .row .col-sm-12 .div-col .div-left .title h4,
        body section#header-about .container-fluid .row .col-sm-12 .div-col .div-left .title h4 {
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 4px; }
          body section#header .container-fluid .row .col-sm-12 .div-col .div-left .title h4 span,
          body section#header-about .container-fluid .row .col-sm-12 .div-col .div-left .title h4 span {
            font-weight: 500; }
    body section#header .container-fluid .row .col-sm-12 .div-col .div-right,
    body section#header-about .container-fluid .row .col-sm-12 .div-col .div-right {
      width: 50%; }
  body section#my-work .container-fluid .row .col-sm-12 .section-title h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#my-work .container-fluid .row-work {
    margin: 50px 0 100px 0; }
    body section#my-work .container-fluid .row-work .col .work-container {
      position: relative; }
      body section#my-work .container-fluid .row-work .col .work-container .box-bg-left {
        height: 410px;
        background-color: #efeff4;
        width: 90%;
        float: left;
        position: relative; }
      body section#my-work .container-fluid .row-work .col .work-container .box-border-left {
        height: 410px;
        border: 4px solid #2b10bf;
        width: 85%;
        position: absolute;
        z-index: -1;
        right: 20px;
        top: 40px; }
      body section#my-work .container-fluid .row-work .col .work-container .box-bg-right {
        height: 410px;
        background-color: #efeff4;
        width: 90%;
        float: right;
        position: relative; }
      body section#my-work .container-fluid .row-work .col .work-container .box-border-right {
        height: 410px;
        border: 4px solid #2b10bf;
        width: 85%;
        position: absolute;
        z-index: -1;
        left: 20px;
        top: 40px; }
      body section#my-work .container-fluid .row-work .col .work-container .text-content {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 50px; }
        body section#my-work .container-fluid .row-work .col .work-container .text-content h3 {
          font-size: 28px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #ffffff;
          font-weight: 600; }
        body section#my-work .container-fluid .row-work .col .work-container .text-content hr {
          width: 71px;
          border: 2px solid #ffffff;
          margin: 30px auto; }
        body section#my-work .container-fluid .row-work .col .work-container .text-content p {
          font-size: 24px;
          font-weight: 100;
          letter-spacing: 1px;
          line-height: 1.33;
          color: #ffffff;
          text-transform: none; }
  body section#my-work .container-fluid .tab-btn .tab-right,
  body section#my-work .container-fluid .tab-btn .tab-left {
    width: 49%;
    display: inline-block; }
  body section#my-work .container-fluid .tab-btn .nav-pills-text .nav-item {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 0.6px; }
  body section#my-work .container-fluid .tab-btn .nav-pills .nav-item .nav-link.active {
    color: #2b10bf;
    background-color: transparent; }
  body section#my-work .container-fluid .tab-btn .nav-pills .nav-item .nav-link {
    color: #d8d8d8; }
  body section#my-work .container-fluid #pills-lists .row-work .col-text .text-content h4 {
    text-transform: uppercase;
    color: #474646;
    letter-spacing: 0.6px;
    font-size: 28px;
    margin-bottom: 30px; }
  body section#my-work .container-fluid #pills-lists .row-work .col-text .text-content .desc {
    color: #474646;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.63;
    letter-spacing: 1px; }
  body section#my-work .container-fluid #pills-lists .row-work .col-image .work-container .box-bg-left,
  body section#my-work .container-fluid #pills-lists .row-work .col-image .work-container .box-border-left {
    height: 390px; }
  body section#design-process .container-fluid .row .col h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#design-process .container-fluid .row .col .text-content p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #474646; }
  body section#design-process .container-fluid .row .col .text-content p:first-child {
    margin-bottom: 30px; }
  body section#design-process .container-fluid .row .col .text-content p:last-child {
    font-weight: 200; }
  body section#design-process .container-fluid .row .col .box {
    margin-top: 30px;
    height: 350px;
    background-color: #efeff4; }
  body section#skills-and-tools .container-fluid .row .col h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#skills-and-tools .container-fluid .row-skills {
    margin-top: 50px; }
    body section#skills-and-tools .container-fluid .row-skills .col .skill-container {
      text-align: center; }
      body section#skills-and-tools .container-fluid .row-skills .col .skill-container .icon img {
        padding: 10px;
        max-height: 100px; }
      body section#skills-and-tools .container-fluid .row-skills .col .skill-container p {
        margin-top: 30px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: #474646;
        font-size: 18px;
        font-weight: 300; }
  body section#header-about .container-fluid .row-about-desc {
    margin-top: 20px; }
    body section#header-about .container-fluid .row-about-desc .col p {
      line-height: 2;
      letter-spacing: 1px;
      color: #474646;
      font-size: 16px;
      width: 80%;
      margin-right: 45px;
      font-weight: 300; }
  body section#education .container-fluid .row .col h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#education .container-fluid .row .col-8 p {
    color: #474646;
    letter-spacing: 1px;
    font-weight: 300; }
  body section#work .container-fluid .row .col h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#work .container-fluid .row-timeline .col ul.timeline {
    list-style-type: none;
    position: relative; }
    body section#work .container-fluid .row-timeline .col ul.timeline::before {
      content: " ";
      background: #2b10bf;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 1px;
      height: 100%;
      z-index: 400; }
    body section#work .container-fluid .row-timeline .col ul.timeline li {
      margin: 50px 0;
      padding-left: 50px; }
      body section#work .container-fluid .row-timeline .col ul.timeline li::before {
        content: " ";
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 12px solid #E2DFF3;
        left: 5px;
        width: 50px;
        height: 50px;
        z-index: 400;
        background: #2b10bf; }
      body section#work .container-fluid .row-timeline .col ul.timeline li .li-content {
        display: flex;
        align-items: flex-start; }
        body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .left {
          min-width: 200px;
          margin-right: 100px; }
          body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .left p.duration {
            font-size: 18px;
            font-weight: 600;
            color: #474646; }
          body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .left img {
            max-height: 35px; }
          body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .left p.desc {
            line-height: 2;
            letter-spacing: 1px;
            color: #474646;
            font-weight: 300;
            margin-top: 20px;
            max-width: 200px;
            font-size: 16px; }
          body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .left p.agoda {
            color: #9b9b9b;
            font-style: italic; }
        body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .right p.title {
          font-size: 18px;
          font-weight: 600;
          color: #474646;
          text-transform: capitalize; }
        body section#work .container-fluid .row-timeline .col ul.timeline li .li-content .right p.desc {
          line-height: 2;
          letter-spacing: 1px;
          color: #474646;
          font-weight: 300; }
  body section#graphic .container-fluid .row .col-7 .section-title h1 {
    text-transform: uppercase;
    color: #2b10bf;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px; }
  body section#graphic .container-fluid .row .col-7 .section-title h1 {
    font-size: 80px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1.7px; }
  body section#graphic .container-fluid .row .col-5 {
    background-color: #efeff4;
    width: 100%; }
  body footer {
    margin-top: 80px;
    margin-bottom: 80px; }
    body footer .container-fluid .row .col .text h3 {
      font-size: 28px;
      letter-spacing: 2px;
      color: #474646; }
    body footer .container-fluid .row .col .text h4 {
      margin-top: 20px; }
      body footer .container-fluid .row .col .text h4 a {
        color: #2b10bf;
        font-size: 48px;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 600; }
    body footer .container-fluid .row-bottom {
      margin-top: 100px;
      display: flex;
      align-items: center; }
      body footer .container-fluid .row-bottom .col-12 hr {
        border-top: 3px solid #2b10bf; }
      body footer .container-fluid .row-bottom .col-name {
        margin-top: 50px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        font-weight: 200; }
      body footer .container-fluid .row-bottom .col-social {
        margin-top: 50px; }
        body footer .container-fluid .row-bottom .col-social .div-social {
          text-align: right; }
          body footer .container-fluid .row-bottom .col-social .div-social a {
            color: #ffffff; }
            body footer .container-fluid .row-bottom .col-social .div-social a .icon {
              display: inline-block;
              background-color: #2b10bf;
              height: 65px;
              width: 65px;
              position: relative;
              margin: 0 10px;
              transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
              border-radius: 50%; }
              body footer .container-fluid .row-bottom .col-social .div-social a .icon .fab {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }

/*# sourceMappingURL=app.css.map */
