@mixin section-title
  h1
    text-transform: uppercase
    color: #2b10bf
    font-size: 48px
    font-weight: 600
    letter-spacing: 1px

@mixin overlap-container
  .box-bg-left
    height: 410px
    background-color: #efeff4
    width: 90%
    float: left
    position: relative
  .box-border-left
    height: 410px
    border: 4px solid #2b10bf
    width: 85%
    position: absolute
    z-index: -1
    right: 20px
    top: 40px

  .box-bg-right
    height: 410px
    background-color: #efeff4
    width: 90%
    float: right
    position: relative
  .box-border-right
    height: 410px
    border: 4px solid #2b10bf
    width: 85%
    position: absolute
    z-index: -1
    left: 20px
    top: 40px

@mixin work-style-text
  h3
    font-size: 28px
    text-transform: uppercase
    letter-spacing: 1px
    color: #ffffff
    font-weight: 600
  hr
    width: 71px
    border: 2px solid #ffffff
    margin: 30px auto

  p
    font-size: 24px
    font-weight: 100
    letter-spacing: 1px
    line-height: 1.33
    color: #ffffff
    text-transform: none



body
  font-family: 'Montserrat', sans-serif
  section
    padding: 50px 0
  .container-fluid
    max-width: 1170px
    .bg-indigo
      background-color: #2b10bf !important
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15)
  .container-nav
    .row
      .col-sm-12
        nav
          .container
            a.navbar-brand
              font-family: 'GFS Didot', serif
              color: #2b10bf
              font-size: 40px
              letter-spacing: -1px
            ul.nav
              li.nav-item:last-child
                a
                  padding-right: 0


            ul.nav
              li.nav-item
                a
                  color: #474646
                  text-transform: uppercase
                  font-size: 18px
                  font-weight: 400
                  letter-spacing: 1px

  section#header,
  section#header-about
    .container-fluid
      .row
        .col-sm-12
          .box
            position: absolute
            height: 655px
            width: 80%
            right: 45px
            border: 4px solid #2b10bf
            z-index: -1

          .div-col
            display: flex
            align-items: center
            height: 655px

            .div-left
              width: 50%
              background-color: #ffffff
              z-index: 1
              padding: 20px 0
              .name
                h1
                  font-size: 80px
                  text-transform: uppercase
                  letter-spacing: 1.75px
                  color: #2b10bf
                  font-weight: 700
                  margin-bottom: 0
              .title
                margin-top: 25px
                h4
                  font-size: 18px
                  font-weight: 300
                  text-transform: uppercase
                  letter-spacing: 4px
                  span
                    font-weight: 500

            .div-right
              width: 50%

  section#my-work
    .container-fluid
      .row
        .col-sm-12
          .section-title
            @include section-title

      .row-work
        margin: 50px 0 100px 0
        .col
          .work-container
            position: relative
            @include overlap-container

            .text-content
              text-align: center
              position: absolute
              top: 50%
              transform: translateY(-50%)
              padding: 0 50px
              @include work-style-text

      .tab-btn
        .tab-right,
        .tab-left
          width: 49%
          display: inline-block
        .nav-pills-text
          .nav-item
            font-size: 28px
            font-weight: 900
            letter-spacing: 0.6px
        .nav-pills
          .nav-item
            .nav-link.active
              color: #2b10bf
              background-color: transparent
            .nav-link
              color: #d8d8d8

      #pills-lists
        .row-work
          .col-text
            .text-content
              h4
                text-transform: uppercase
                color: #474646
                letter-spacing: 0.6px
                font-size: 28px
                margin-bottom: 30px
              .desc
                color: #474646
                font-size: 24px
                font-weight: 300
                line-height: 1.63
                letter-spacing: 1px
          .col-image
            .work-container
              .box-bg-left,
              .box-border-left
                height: 390px


  section#design-process
    .container-fluid
      .row
        .col
          @include section-title
          .text-content
            p
              font-size: 16px
              line-height: 2
              letter-spacing: 1px
              color: #474646
            p:first-child
              margin-bottom: 30px

            p:last-child
              font-weight: 200
          .box
            margin-top: 30px
            height: 350px
            background-color: #efeff4


  section#skills-and-tools
    .container-fluid
      .row
        .col
          @include section-title

      .row-skills
        margin-top: 50px
        .col
          .skill-container
            text-align: center
            .icon
              img
                padding: 10px
                max-height: 100px
            p
              margin-top: 30px
              text-transform: uppercase
              letter-spacing: 1.1px
              color: #474646
              font-size: 18px
              font-weight: 300


  //ABOUT PAGE//
  section#header-about
    .container-fluid
      .row-about-desc
        margin-top: 20px
        .col
          p
            line-height: 2
            letter-spacing: 1px
            color: #474646
            font-size: 16px
            width: 80%
            margin-right: 45px
            font-weight: 300

  section#education
    .container-fluid
      .row
        .col
          @include section-title
        .col-8
          p
            color: #474646
            letter-spacing: 1px
            font-weight: 300


  section#work
    .container-fluid
      .row
        .col
          @include section-title
      .row-timeline
        .col
          ul.timeline
            list-style-type: none
            position: relative
            &::before
              content: ' '
              background: #2b10bf
              display: inline-block
              position: absolute
              left: 29px
              width: 1px
              height: 100%
              z-index: 400

            li
              margin: 50px 0
              padding-left: 50px
              &::before
                content: ' '
                background: white
                display: inline-block
                position: absolute
                border-radius: 50%
                border: 12px solid #E2DFF3
                left: 5px
                width: 50px
                height: 50px
                z-index: 400
                background: #2b10bf

              .li-content
                display: flex
                align-items: flex-start
                .left
                  min-width: 200px
                  margin-right: 100px
                  p.duration
                    font-size: 18px
                    font-weight: 600
                    color: #474646
                  img
                    max-height: 35px
                  p.desc
                    line-height: 2
                    letter-spacing: 1px
                    color: #474646
                    font-weight: 300
                    margin-top: 20px
                    max-width: 200px
                    font-size: 16px
                  p.agoda
                    color: #9b9b9b
                    font-style: italic
                .right
                  p.title
                    font-size: 18px
                    font-weight: 600
                    color: #474646
                    text-transform: capitalize
                  p.desc
                    line-height: 2
                    letter-spacing: 1px
                    color: #474646
                    font-weight: 300



  //GRAPHIC PAGE
  section#graphic
    .container-fluid
      .row
        .col-7
          .section-title
            @include section-title
            h1
              font-size: 80px
              font-weight: 600
              font-style: normal
              font-stretch: normal
              line-height: 1.25
              letter-spacing: 1.7px

        .col-5
          background-color: #efeff4
          width: 100%












  footer
    margin-top: 80px
    margin-bottom: 80px
    .container-fluid
      .row
        .col
          .text
            h3
              font-size: 28px
              letter-spacing: 2px
              color: #474646
            h4
              margin-top: 20px
              a
                color: #2b10bf
                font-size: 48px
                text-decoration: underline
                text-transform: uppercase
                font-weight: 600

      .row-bottom
        margin-top: 100px
        display: flex
        align-items: center
        .col-12
          hr
            border-top: 3px solid #2b10bf
        .col-name
          margin-top: 50px
          font-size: 16px
          text-transform: uppercase
          letter-spacing: 2.7px
          font-weight: 200
        .col-social
          margin-top: 50px
          .div-social
            text-align: right
            a
              color: #ffffff
              .icon
                display: inline-block
                background-color: #2b10bf
                height: 65px
                width: 65px
                position: relative
                margin: 0 10px
                transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s
                border-radius: 50%
                .fab
                  position: absolute
                  top: 50%
                  left: 50%
                  transform: translate(-50%, -50%)
